

html,
body {
background: url('../image/body_background.jpg') repeat-x;
    height: 100%;
}

.main_header
{
	width:100%;
	height:150px;
	border-top: 9px solid #444444;
	clear: both;
}
.sub_header
{
	margin: 20px 109px 0px;
	height:180px;
}
.img-responsive
{

float:left;

}
.sub_header_right
{
float:right;
margin-top:35px;
}
.btn-default
{
 background-color:#ABC42B;
 color:white;
 font-weight:bold;
 font-size:14px;
}
.navbar-brand,
.navbar-nav {
    line-height:75px;
    padding-top: 0;
}
.navbar-default {    
        text-decoration:none;
		font:bold 1em/1em Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		font-size:17px;
        border-radius:5px;
        color:black;
        background-color:#c4e2c0;
		margin:0px 109px;
		
    }
    .navbar-nav>li>a 
	{
		position: relative;
		display: block;
		margin:13px 24px 0px 25px;
	}
	.navbar-nav.navbar-right
	{
		margin-right: -15px;
		margin-top:15px;
	}
	.nav>li:hover
	{
		color:white;
		background-color:#f6f7e9;
		border-radius:5px;
	}
	.panel-default>.panel-heading 
	{
		color: #333;
		border-color:#333;
		background-color: #D3D3D3;
		font:bold 1em/1em Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		font-size:17px;
	}
	.panel-body
	{
	padding:17px;
	}
	.panel-body-price
	{
	padding:21px;
	}
	.row
	{
		margin-right: 40px;
		margin-left: 40px;
		margin-top:30px;
	}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

.navbar-default .navbar-nav>li>a {
color: #000;
}

/* Home Page Carousel */

header.carousel {
    height: 60%;
    margin: 0px 109px;
	border: 2px solid #D3D3D3;
	border-radius:5px;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}


/*About us page style */
.mainpara
{
padding: 17px 16px 19px 17px;
margin-top:22px;
margin-bottom:10px;
border-left: 3px solid #c4e2c0;
background: url(../image/greenbg.png) left top repeat;
font-size: 20px;
line-height: 26px
}
.parul 
{
color: #000000;
float: left;
font-size: 16px;
margin-bottom: 12px;
}
.page-header {
padding-bottom: 9px;
border-bottom:2px solid #abc42b;
}
.thumbnail {
display: block;
padding: 1px;
margin-bottom: 20px;
line-height: 1.42857143;
background-color: #fff;
border: 2px solid #29A929;
border-radius: 4px;
}

/* 404 Page Styles */
.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* material content*/

#MaterialKeyText {
width: 755px;
margin-bottom: 27px;
}


#MaterialKeyText p {
padding: 17px 16px 19px 17px;
margin-top: 16px;
border-left: 3px solid #c4e2c0;
background: url(../image/greenbg.png) left top repeat;
font-size: 20px;
line-height: 26px;
color: #333;
}

.contentLeftUL1 {
margin-left: 17px;
width: 705px;
}

.contentLeftUL1 ul {
float: left;
list-style: none outside none !important;
margin: 0 50px 0 0 !important;
padding: 0 !important;
padding-bottom: 10px !important;
}
.contentLeftUL1 ul li {
background: url("../image/green_right_arrow.png") no-repeat scroll 0 3px transparent;
float:left;
margin-bottom: 12px;
padding:6px 0px 0px 37px;
height:26px;
font-size: 16px;
}
.contentLeftUL1 ol li {
background: url("../image/green_dot.png") no-repeat scroll 0 3px transparent;
color: #000000;
float: left;
font-size: 14px;
line-height: 140%;
margin-bottom: 12px;
padding-top: 0;
padding-left: 20px;
width: 100%;
}

.contentLeftUL1 ul li ul{
float: left;
list-style: none outside none !important;
margin: 0 50px 0 0 !important;
padding: 0 !important;
padding-bottom: 10px !important;
}

.contentLeftUL1 ul li ul li {
color: #000000;
float: left;
font-size: 14px;
line-height: 140%;
margin-bottom: 12px;
padding-bottom: 0;
padding-left: 20px;
width: 100%;
}
.col-md-4
{
margin-left:0px;
padding-left:50px;
margin-top:10px;
}


/* Contact Style */
 .frame
{
margin:50px 0px 0px 0px;
}
.container.sub
{
margin-top:20px;
}


/* Footer Styles */

footer {
    margin:0;
	background-color:#c4e2c0;
	padding:20px 0px;
	color:black;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
	.navbar-header
	{
	height:50px;
	}
	.navbar-default { 
		margin:0px;
		}
		header.carousel {
		margin:0px;
		}
		.container.sub
{
	height:500px;
}
		
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }
.navbar-header
	{
	height:50px;
	}
    header.carousel .carousel {
        height: 70%;
    }
	.navbar-default
	{ 
		margin:0px;
	}
	header.carousel
	{
		margin:0px;
	}
	
	.container.sub
	{
		height:1550px;
	}
}